@tailwind base;
@tailwind components;
@tailwind utilities;
  
/* Apply only on small screens (mobile) */
@media (max-width: 767px) {
  html,
  body,
  #root {
    width: 100%;
    overflow-x: hidden;
  }
}

/* Apply on medium screens and up (desktop/tablet) */
@media (min-width: 768px) {
  html,
  body,
  #root {
    width: 100%;
    overflow-x: initial; /* or remove this line */
  }
}
